.header {
	background-color: #262626;

	.title {
		text-transform: uppercase;
		display: flex;
		justify-content:center;
		align-items:center;
		margin: 0 auto;
		padding: 3rem 0;
		color: white;
		font-size: 4.8rem;
		font-weight: 700;
		letter-spacing: 3px;
	
		@media (max-width: 768px) {
			font-size: 4rem;
			width: 90%;
			text-align: center;
		}
	}

}

