

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  font-size: 62.5%;  // 10/16px
  background-color: black;
}


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
  	font-family: 'Lato', 'Open Sans', 'Roboto', sans-serif; 
}
